# --- Application Settings ---
APP_NAME="RAG API"
APP_VERSION="0.1.0"

# --- LLM Backend Settings ---
# Supported values: "OPENAI", "COHERE"
EMBEDDING_BACKEND="openai"
GENERATION_BACKEND="openai"

# --- API Keys ---
# Provide API keys for the services you enable.
OPENAI_API_KEY="your-openai-api-key"
COHERE_API_KEY="your-cohere-api-key"
OPENAI_API_URL=

# --- Model IDs & Configuration ---
# Example for OpenAI
GENERATION_MODEL_ID="gpt-3.5-turbo"
EMBEDDING_MODEL_ID="text-embedding-3-small"
EMBEDDING_MODEL_SIZE=1536

# Example for Cohere
# GENERATION_MODEL_ID="command-r"
# EMBEDDING_MODEL_ID="embed-english-v3.0"
# EMBEDDING_MODEL_SIZE=1024

# --- Generation Parameters ---
INPUT_DEFAULT_MAX_CHARACTERS=4096
GENERATION_DEFAULT_MAX_TOKENS=1024
GENERATION_DEFAULT_TEMPERATURE=0.1

# --- Vector Database Settings ---
# Supported values: "QDRANT"
VECTOR_DB_BACKEND="qdrant"
VECTOR_DB_PATH="./assets/database"
# Supported values: "Cosine", "Dot"
VECTOR_DB_DISTANCE_METHOD="Cosine"

# --- File Upload Settings ---
FILE_ALLOWED_EXTENSIONS='["application/pdf", "text/plain"]'
FILE_MAX_SIZE=10485760 # 10 MB
FILE_DEFAULT_CHUNK_SIZE=1024

# --- Database Settings (for Docker setup) ---
MONGODB_URL="mongodb://raguser:ragpassword@localhost:27007"
MONGODB_DATABASE="rag_db"

# --- Localization ---
DEFAULT_LANGUAGE="en"
